<footer id="myFooter">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <h2 class="logo">
          <a href="javascript:void(0)">FANTASTIC HOLIDAYS</a>
        </h2>
      </div>
      <div class="col-sm-2">
        <h5>Get started</h5>
        <ul>
          <li>
            <a href="javascript:void(0)" [ngx-scroll-to]="'#top'">Home</a>
          </li>
          <li>
            <a href="javascript:void(0)" [ngx-scroll-to]="'#about'">About</a>
          </li>
          <li>
            <a href="javascript:void(0)" [ngx-scroll-to]="'#gallery'"
              >Gallery</a
            >
          </li>
          <li>
            <a href="javascript:void(0)" [ngx-scroll-to]="'#services'"
              >Services</a
            >
          </li>
          <li>
            <a href="javascript:void(0)" [ngx-scroll-to]="'#contact'"
              >Contact</a
            >
          </li>
        </ul>
      </div>
      <div class="col-sm-2">
        <h5>About us</h5>
        <p>
          Fantastic holidays is one of the main travel arrangement suppliers,
          which offers unique or redid visit bundles<br />
          <a href="javascript:void(0)" [ngx-scroll-to]="'#about'"
            >read more...</a
          >
        </p>
      </div>
      <div class="col-sm-2">
        <h5>Contact Us</h5>
        <p>fantasticholidaysops1@gmail.com</p>
        <p>9910531861</p>
        <p>9625486336</p>
        <!--
          <ul>
            <li><a href="#">FAQ</a></li>
            <li><a href="#">Help desk</a></li>
            <li><a href="#">Forums</a></li>
          </ul>
        -->
      </div>
      <div class="col-sm-3">
        <div class="social-networks">
          <a href="javascript:void(0)" class="twitter"
            ><i class="fa fa-twitter"></i
          ></a>
          <a href="javascript:void(0)" class="facebook"
            ><i class="fa fa-facebook"></i
          ></a>
          <a href="javascript:void(0)" class="google"
            ><i class="fa fa-google-plus"></i
          ></a>
        </div>
        <button type="button" class="btn btn-default" [ngx-scroll-to]="'#contact'">Contact us</button>
      </div>
    </div>
  </div>
  <div class="footer-copyright"><p>© 2018 Copyright fantastic holidays</p></div>
</footer>
