<div class="container">
  <div class="row">
    <div class="col-md-3 col-sm-3 wow slideInLeft" data-wow-duration="2s">
      <div class="guarantee_wrapper">
        <div class="guarantee">
          <div class="guarantee_image"></div>
          <div class="guarantee_heading">
            <h3>Best Price <br />Guarantee</h3>
          </div>
          <div class="guarantee_para">
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 wow slideInLeft" data-wow-duration="1s">
      <div class="travellers_wrapper">
        <div class="travellers">
          <div class="travellers_image"></div>
          <div class="travellers_heading"><h3>Travellers Love Us</h3></div>
          <div class="travellers_para">
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 wow slideInRight" data-wow-duration="1s">
      <div class="agent_wrapper">
        <div class="agent">
          <div class="agent_image"></div>
          <div class="agent_heading">
            <h3>Best Travel <br />Agent</h3>
          </div>
          <div class="agent_para">
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 col-sm-3 wow slideInRight" data-wow-duration="2s">
      <div class="support_wrapper">
        <div class="support">
          <div class="support_image"></div>
          <div class="support_heading"><h3>Our Dedicated Support</h3></div>
          <div class="support_para">
            <p>A small river named Duden flows by their place and supplies.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
