@import "../../global.mixins";

.main-about {
  margin-top: 50px;
  @include breakpoint(xs) {
    margin-top: 0;
  }
}
.about-left {
  padding: 2em 2em;
  @include breakpoint(xs) {
    padding-top: 0;
  }
  @include breakpoint(sm) {
    padding-top: 1em;
  }
  p {
    line-height: 1.5em;
    font-size: 1.15em;
    @include breakpoint(xs) {
      line-height: 1.2em;
      font-size: 1.1em;
    }
  }
}
.about-left h3 {
  font-size: 3em;
  margin-bottom: 1em;
  color: #f65a5b;
  @include breakpoint(xs) {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
  }
  @include breakpoint(sm) {
    margin-top: 0;
    font-size: 2em;
    text-align: center;
    margin: 0.2em;
  }
}

.about-right img {
  width: 90%;
  //   height: 90%;
  @include breakpoint(xs) {
    width: 100%;
  }
}
