<div class="main-about">
  <div class="container">
    <div class="text-h3 text-center"><h3 class="wow wobble">ABOUT</h3></div>
    <div class="row">
      <div
        class="col-md-6 col-sm-6 about-left wow slideInLeft"
        data-wow-duration="1s"
      >
        <h3>WELCOME</h3>
        <p>
          Fantastic holidays is one of the main travel arrangement suppliers,
          which offers unique or redid visit bundles. With experience of
          numerous years in travel and cordiality, we have done amazingly well
          in giving travel administrations to both residential and outside
          voyagers. Our web entrance gives best and unadulterated bits of
          knowledge to the locale, making accessible all what is required before
          arranging an outing to the rough territories of Himalayas.
        </p>
        <p>
          Our group is a bunch of equipped and energetic visit administrators
          and aides who will flank around with you to ensure everything happens
          according to the arranged calendar. We offer altered travel
          alternatives and arrange and execute your complete visit. Since we
          adore our employment, we ensure you back again for additional!
        </p>
        <p>
          Our multipurpose administrations get to be usual to your necessities
          as we ensure that you appreciate this grasping destination and run
          home with most vivid recollections.
        </p>
      </div>
      <div
        class="col-md-6 col-sm-6 about-right wow slideInRight"
        data-wow-duration="1s"
      >
        <img src="assets/images/about.jpg" alt="image" />
      </div>
    </div>
  </div>
</div>
