@import "../../global.mixins";

.navbar {
  background-color: #f65a5b;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-radius: 0;
}

.navbar-brand {
  color: #ffffff;
  font-size: 2em;
  font-weight: bold;
  @include breakpoint(xs) {
    font-size: 1.3em;
  }
}
a.navbar-brand:hover {
  color: rgb(82, 70, 70);
}

// ul {
//   @include breakpoint(xs) {
//     display: none;
//   }
// }
.first {
  display: block;
  @include breakpoint(xs) {
    display: none;
  }
}

.second {
  display: none !important;
}

ul.nav {
  @include breakpoint(xs) {
    position: relative;
    z-index: 100;
  }
  li {
    a {
      color: #ffffff;
      font-weight: normal;
      font-size: 1.2em;
      cursor: pointer;
    }
    :hover {
      color: #ccc;
      background: transparent;
      font-size: 1.3em;
    }
    :focus {
      background: transparent;
    }
  }
}

.mobile-icon {
  display: inline-block;
  color: #ffffff;
  font-size: 1.1em;
  margin: -2.2em 1em 0 0;
  @include breakpoint(sm) {
    display: none;
  }
}
