<div class="contact py-5" id="contact">
  <div class="container">
    <div class="text-h3 text-center"><h3>CONTACT US</h3></div>
    <div class="row">
      <div class="col-md-6 content-left">
        <h4>CONTACT FORM</h4>
        <form novalidate [formGroup]="bookingForm" (submit)="submit()">
          <div class="form-row">
            <div class="form-group col-md-12">
              <input
                type="text"
                class="form-control"
                id="inputtext"
                placeholder="Name"
                name="name"
                formControlName="name"
              />
            </div>
            <div class="form-group col-md-12">
              <input
                type="email"
                class="form-control"
                id="inputEmail4"
                placeholder="Email"
                name="email"
                formControlName="email"
              />
            </div>
            <div class="form-group col-md-12">
              <textarea
                class="form-control"
                id="exampleFormControlTextarea1"
                rows="3"
                placeholder="Text Hear"
                name="description"
                formControlName="description"
              ></textarea>
            </div>
            <div class="form-errors">
              <div
                class="name-field-error"
                *ngIf="bookingForm.controls['name'].errors"
              >
                <div
                  *ngIf="
                    bookingForm.controls['name'].errors.required &&
                    bookingForm.controls['name'].touched
                  "
                >
                  <p class="error-statement">Name is required</p>
                </div>
              </div>
              <div
                class="email-field-error"
                *ngIf="bookingForm.controls['email'].errors"
              >
                <div
                  *ngIf="
                    bookingForm.controls['email'].errors.required &&
                    bookingForm.controls['email'].touched
                  "
                >
                  <p class="error-statement">Email is required</p>
                </div>
                <div
                  *ngIf="
                    bookingForm.controls['email'].errors.email &&
                    bookingForm.controls['email'].touched
                  "
                >
                  <p class="error-statement">
                    Email must be a valid email address
                  </p>
                </div>
              </div>
              <div
                class="description-field-error"
                *ngIf="bookingForm.controls['description'].errors"
              >
                <div
                  *ngIf="
                    bookingForm.controls['description'].errors.required &&
                    bookingForm.controls['description'].touched
                  "
                >
                  <p class="error-statement">Description is required</p>
                </div>
              </div>
            </div>
            <input
              type="submit"
              class="form-button"
              value="SUBMIT"
              [disabled]="bookingForm.invalid || bookingForm.pristine"
            />
          </div>
        </form>
      </div>
      <div class="col-md-6 content-right">
        <h4>ADDRESS</h4>

        <div class="add-info">
          <p>
            <span class="contact-right-icons"
              ><i class="fa fa-map-marker"></i
            ></span>
            Sagarpur, New Delhi-110046
          </p>
        </div>
        <div class="add-info">
          <p>
            <span class="contact-right-icons"><i class="fa fa-phone"></i></span>
            9910531861, 9625486336
          </p>
        </div>
        <div class="add-info">
          <p>
            <span class="contact-right-icons"
              ><i class="fa fa-envelope"></i
            ></span>
            <a href="mailto:info@example.com"
              >fantasticholidaysops1@gmail.com</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
