<!--
  <div class="contact py-5" id="contact">
    <div class="container">
      <div class="text-h3 text-center"><h3>CONTACT US</h3></div>
      <div class="row">
        <div class="col-md-6 content-left">
          <h4>CONTACT FORM</h4>
          <form novalidate [formGroup]="bookingForm" (submit)="submit()">
            <div class="form-row">
              <div class="form-group col-md-12">
                <input
                  type="text"
                  class="form-control"
                  id="inputtext"
                  placeholder="Name"
                  name="name"
                  formControlName="name"
                />
              </div>
              <div class="form-group col-md-12">
                <input
                  type="email"
                  class="form-control"
                  id="inputEmail4"
                  placeholder="Email"
                  name="email"
                  formControlName="email"
                />
              </div>
              <div class="form-group col-md-12">
                <textarea
                  class="form-control"
                  id="exampleFormControlTextarea1"
                  rows="3"
                  placeholder="Text Hear"
                  name="description"
                  formControlName="description"
                ></textarea>
              </div>
              <input
                type="submit"
                class="form-button"
                value="SUBMIT"
                [disabled]="bookingForm.invalid || bookingForm.pristine"
              />
            </div>
          </form>
        </div>
        <div class="col-md-6 content-right">
          <h4>ADDRESS</h4>

          <div class="add-info">
            <p>
              <span class="contact-right-icons"
                ><i class="fa fa-map-marker"></i
              ></span>
              Sagarpur, New Delhi-110046
            </p>
          </div>
          <div class="add-info">
            <p>
              <span class="contact-right-icons"><i class="fa fa-phone"></i></span>
              9910531861, 9625486336
            </p>
          </div>
          <div class="add-info">
            <p>
              <span class="contact-right-icons"
                ><i class="fa fa-envelope"></i
              ></span>
              <a href="mailto:info@example.com"
                >fantasticholidaysops1@gmail.com</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
<div class="container contact">
  <div class="row">
    <div class="col-md-5 col-sm-5">
      <div class="contact_image"><img src="assets/images/man.png" /></div>
    </div>
    <div class="col-md-7 col-sm-7">
      <div class="contact_form_container">
        <div class="contact_title">get in touch</div>
        <div class="clearfix"></div>
        <div class="form-errors">
          <div
            class="name-field-error"
            *ngIf="bookingForm.controls['name'].errors"
          >
            <div
              *ngIf="
                bookingForm.controls['name'].errors.required &&
                bookingForm.controls['name'].touched
              "
            >
              <p class="error-statement">* Name is required</p>
            </div>
          </div>
          <div
            class="email-field-error"
            *ngIf="bookingForm.controls['email'].errors"
          >
            <div
              *ngIf="
                bookingForm.controls['email'].errors.required &&
                bookingForm.controls['email'].touched
              "
            >
              <p class="error-statement">* Email is required</p>
            </div>
            <div
              *ngIf="
                bookingForm.controls['email'].errors.email &&
                bookingForm.controls['email'].touched
              "
            >
              <p class="error-statement">
                * Email must be a valid email address
              </p>
            </div>
          </div>
          <div
            class="description-field-error"
            *ngIf="bookingForm.controls['description'].errors"
          >
            <div
              *ngIf="
                bookingForm.controls['description'].errors.required &&
                bookingForm.controls['description'].touched
              "
            >
              <p class="error-statement">* Description is required</p>
            </div>
          </div>
        </div>
        <form
          novalidate
          [formGroup]="bookingForm"
          #form="ngForm"
          (submit)="submit(); form.reset()"
          id="contact_form"
          class="contact_form"
        >
          <input
            type="text"
            id="contact_form_name"
            class="contact_form_name input_field"
            placeholder="Name"
            name="name"
            formControlName="name"
          />
          <input
            type="text"
            id="contact_form_email"
            class="contact_form_email input_field"
            placeholder="E-mail"
            name="email"
            formControlName="email"
          />
          <!--
            <input
              type="text"
              id="contact_form_subject"
              class="contact_form_subject input_field"
              placeholder="Subject"
              required="required"
              data-error="Subject is required."
            />
          -->
          <textarea
            id="contact_form_message"
            class="text_field contact_form_message"
            name="message"
            rows="4"
            placeholder="Message"
            name="description"
            formControlName="description"
          ></textarea>

          <button
            type="submit"
            id="form_submit_button"
            class="form_submit_button button"
            [disabled]="bookingForm.invalid || bookingForm.pristine"
          >
            send message<span></span><span></span><span></span>
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
