@import "../../global.mixins";

.content-left h4 {
  font-size: 26px;
  color: #f65a5b;
  margin-bottom: 20px;
  @include breakpoint(xs) {
    text-align: center;
    font-size: 1.1em;
  }
  @include breakpoint(sm) {
    text-align: center;
    font-size: 1.3em;
  }
}
input.form-button {
  width: 120px;
  padding: 5px;
  margin-right: 11px;
  border-radius: 5px;
  border: 1px solid #2196f3;
  background-color: #f65a5b;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  float: right;
}

.content-right h4 {
  font-size: 26px;
  color: #f65a5b;
  margin-bottom: 20px;
  @include breakpoint(xs) {
    text-align: center;
    font-size: 1.1em;
  }
  @include breakpoint(sm) {
    text-align: center;
    font-size: 1.3em;
  }
}

span.contact-right-icons {
  font-size: 20px;
  margin: 0px 10px 0px 0px;
}
.add-info p {
  font-size: 18px;
  @include breakpoint(xs) {
    font-size: 1em;
  }
  @include breakpoint(sm) {
    font-size: 1.2em;
  }
}
.add-info a {
  color: #999;
}
