<div class="portfolio-agileinfo" id="gallery">
  <div class="agile_wthree_inner_grids">
    <div class="container">
      <div class="text-h3 text-center">
        <h3>GALLERY</h3>
        <p>Lorem Ipsum is not simply random text</p>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/1.jpg" alt="image" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/2.jpg" alt="image" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/3.jpg" alt="image" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/7.jpg" alt="image" class="img-responsive" />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/4.jpg" alt="image" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/5.jpg" alt="image" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/6.jpg" alt="image" class="img-responsive" />
        </div>
        <div class="col-md-3 col-sm-3">
          <img src="assets/images/8.jpg" alt="image" class="img-responsive" />
        </div>
      </div>
    </div>
  </div>
</div>
