@mixin breakpoint($class) {
  @if $class == xs {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: 768px) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: 1200px) {
      @content;
    }
  } @else {
    @warn "Breakpoint mixin supports: xs, sm, md, lg";
  }
}

.text-h3.text-center p {
  font-size: 1.1em;
  margin-bottom: 2em;
}
.text-h3 {
  h3 {
    margin-top: 2em;
    margin-bottom: 0.2em;
    @include breakpoint(sm) {
      margin-top: 1em;
      margin-bottom: 0;
    }
  }
}
.agile_inner_info {
  margin-top: 3em;
}

p.sub_cap {
  text-align: center;
  text-shadow: 1px 1px 2px rgba(154, 153, 153, 0.37);
}

.portfolio-agileinfo h3.text-center {
  font-size: 40px;
  font-weight: normal;
  color: #000;
  padding-bottom: 50px;
}

.col-md-6,
.col-md-3 {
  padding-right: 0;
  padding-left: 0;
}

img {
  @include breakpoint(xs) {
    margin: 0 auto;
  }
}
