<div class="main-rafting">
  <div class="container">
    <div class="text-h3 text-center"><h3>RAFTING</h3></div>
    <div class="row">
      <div class="col-md-6 col-sm-6 rafting-left">
        <img src="assets/images/rafting.jpg" alt="image" />
      </div>
      <div class="col-md-6 col-sm-6 rafting-right">
        <h3>PLAYING WITH THE WAVES</h3>
        <p>
          Rafting is a sport of adrenaline and the best spot to feel that
          adrenaline are the rapids near the religious town of Rishikesh. The
          River Ganga, as it passes through here rages on creating great avenues
          for rafting. This tour takes you to an amazing adventure camp on the
          beaches of Rishikesh where you can feel the adrenaline rushing through
          you as you conquer rapids after rapids
        </p>
      </div>
    </div>
  </div>
</div>
