.main-rafting {
  margin-top: 4em;
}
.rafting-right {
  padding: 1em 2em;
  p {
    line-height: 1.5em;
    font-size: 1.15em;
  }
}
.rafting-right h3 {
  font-size: 3em;
    margin-bottom: 1em;
  color: #f65a5b;
}

.rafting-left img {
  width: 90%;
  //   height: 90%;
}
