<div class="banner">
  <!-- header -->
  <header><fh-navbar></fh-navbar></header>
  <!-- end of header -->

  <!-- Banner-text -->
  <div class="container">
    <div class="banner-text">
      <div class="slider-info">
        <h3>
          Enjoy Your Dream<br />
          Vacation
        </h3>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end of banner text -->

<!-- About us -->
<fh-about id="about"></fh-about>
<!-- end of about us -->

<!-- gallery -->
<fh-gallery id="gallery"></fh-gallery>
<!-- end of gallery -->

<!-- services -->
<fh-services id="services"></fh-services>
<!-- end of services -->

<!-- subscribe -->
<fh-subscribe id="subscribe"></fh-subscribe>
<!-- end of subscribe -->

<fh-contact id="contact"></fh-contact>
