<div class="banner" id="top">
  <!-- header -->
  <header><fh-navbar></fh-navbar></header>
  <!-- end of header -->

  <!-- Banner-text -->
  <div class="container">
    <div class="banner-text">
      <div class="slider-info">
        <h3>
          Enjoy Your Dream<br />
          Vacation
        </h3>
        <p>
          Come and See what makes our destination so special.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- end of banner text -->

<fh-hospitality></fh-hospitality>

<!-- ABOUT US -->
<fh-about id="about"></fh-about>
<!-- end of about us -->

<!-- GALLERY -->
<fh-gallery id="gallery"></fh-gallery>
<!-- end of gallery -->

<!-- SERVICES -->
<fh-services id="services"></fh-services>
<!-- end of services -->

<!-- SUBSCRIBE -->
<fh-subscribe id="subscribe"></fh-subscribe>
<!-- end of subscribe -->

<!-- CONTACT -->
<fh-contact id="contact"></fh-contact>
<!-- end of contact -->

<!-- FOOTER -->
<fh-footer></fh-footer>
<!-- end of footer -->

<!-- SCROLL TO TOP BUTTON -->
<span class="back-to-top" [ngx-scroll-to]="'#top'">
  <i class="fa fa-arrow-up" aria-hidden="true"></i>
</span>
