<div class="serives" id="services">
  <div class="container">
    <div class="text-h3 text-center"><h3>OUR SERVICES</h3></div>
    <div class="row welcome-bottom">
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-calendar"></i>
        <h4 class="my-3">HOTEL BOOKING</h4>
        <p>
          We now the accommodations for all lifestyles. Stay in our Cottages for
          a luxury vacation or enjoy the economical comfort and view.
        </p>
      </div>
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-fighter-jet"></i>
        <h4 class="my-3">AIR FLIGHTS</h4>
        <p>Sit back and book your flight tickects while at home</p>
      </div>
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-car"></i>
        <h4 class="my-3">CAR RENTALS</h4>
        <p>
          Rent a car with professional drivers, sit back and enjoy your
          vacation.
        </p>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 welcome-grid text-center ">
        <i class="fa fa-male"></i>
        <h4 class="my-3">TRAVEL GUIDES</h4>
        <p>
          We have the bunch of professional travel guides that will help you
          enjoy every bit of your vacation and help you explore new world.
        </p>
      </div>
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-file"></i>
        <h4 class="my-3">TRAVEL INSURANCE</h4>
        <p>
          We provide you insuarance for your travelling, so that you can enjoy
          without any worry.
        </p>
      </div>
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-car"></i>
        <h4 class="my-3">CHOICE OF TOURS</h4>
        <p>
          We gave you the option to opt for the one which best suits you for you
          travelling or your vacation.
        </p>
      </div>
    </div>
  </div>
</div>
