<div class="serives" id="services">
  <div class="container">
    <div class="text-h3 text-center"><h3>OUR SERVICES</h3></div>
    <div class="row welcome-bottom">
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-calendar"></i>
        <h4 class="my-3">HOTEL BOOKING</h4>
        <p>
          Ut enim ad minima veniam, quis nostrum ullam corporis suscipit
          laboriosam.
        </p>
      </div>
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-fighter-jet"></i>
        <h4 class="my-3">AIR FLIGHTS</h4>
        <p>
          Ut enim ad minima veniam, quis nostrum ullam corporis suscipit
          laboriosam.
        </p>
      </div>
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-car"></i>
        <h4 class="my-3">CAR RENTALS</h4>
        <p>
          Ut enim ad minima veniam, quis nostrum ullam corporis suscipit
          laboriosam.
        </p>
      </div>

      <div class="col-md-4 welcome-grid text-center ">
        <i class="fa fa-male"></i>
        <h4 class="my-3">TRAVEL GUIDES</h4>
        <p>
          Ut enim ad minima veniam, quis nostrum ullam corporis suscipit
          laboriosam.
        </p>
      </div>
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-file"></i>
        <h4 class="my-3">TRAVEL INSURANCE</h4>
        <p>
          Ut enim ad minima veniam, quis nostrum ullam corporis suscipit
          laboriosam.
        </p>
      </div>
      <div class="col-md-4 welcome-grid text-center">
        <i class="fa fa-car"></i>
        <h4 class="my-3">CHOISE OF TOURS</h4>
        <p>
          Ut enim ad minima veniam, quis nostrum ullam corporis suscipit
          laboriosam.
        </p>
      </div>
    </div>
  </div>
</div>
