@import "./global.mixins";

* {
  font-family: "Roboto Condensed";
}

html,
body {
  background-color: rgb(240, 237, 245);
}

p {
  color: #999;
  line-height: 1.9;
}

.text-h3 {
  h3 {
    font-size: 3.1em;
    margin-bottom: 1.5em;
    @include breakpoint(xs) {
      margin-bottom: 1em;
      font-size: 1.8em;
    }
  }
}

.modal-backdrop {
  opacity: 0.8 !important;
}

.modal {
  text-align: center;
  :before {
    @include breakpoint(sm) {
      display: inline-block;
      vertical-align: middle;
      content: "";
      height: 100%;
    }
  }
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-body {
  padding-top: 0;
  @include breakpoint(xs) {
    padding-top: 15px;
  }
}
