.main-camping {
  margin-top: 4em;
}
.camping-left {
  margin-top: 1em;
  padding: 1em 2em;
  p {
    line-height: 1.5em;
    font-size: 1.15em;
  }
  h3 {
    font-size: 3em;
    margin-bottom: 1em;
    color: #f65a5b;
  }
}

.camping-right img {
  width: 90%;
  //   height: 90%;
}
