<div class="main-camping">
  <div class="container">
    <div class="text-h3 text-center"><h3>Camping</h3></div>
    <div class="row">
      <div class="col-md-6 col-sm-6 camping-left">
        <h3>CAMPS</h3>
        <p>
          Camps When we hear the word camping all we can conjure up in our minds
          is spending a night under the billion stars. Well, I am sure most of
          you might already be aware of camping in Rishikesh which is in a great
          deal loved by all. Nature has always been able to surprise us in some
          way or the other, the wild side of nature is something which we don’t
          get to see much. Another destination which radically defines the
          beauty of nature is Rishikesh.
        </p>
      </div>
      <div class="col-md-6 col-sm-6 camping-right">
        <img src="assets/images/camping.jpg" alt="image" />
      </div>
    </div>
  </div>
</div>
